
@{
    ViewBag.Title = "Strona główna";
}

<div class="jumbotron">
    <h1>Zaawansowane programowanie C#</h1>
    <p class="lead">Strona poświęcona programowaniu w języku C# w technologii .NET Framework.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Artykuły</h2>
        <p>Sekcja zawierająca artykuły dotyczące różnych dziedzin programowania, tematyki wzorców projektowych i zagadnien z obszaru baz danych.</p>
        <p>@Html.ActionLink("Przejdź", "List", "Article", null, new { @class = "btn btn-success" })</p>
    </div>
    <div class="col-md-4">
        <h2>Pytania techniczne</h2>
        <p>Sekcja poświęcona najczęściej pojawiającym się zagadnieniom i dylematom technicznym wraz z szeregiem najpopularniejszych rozwiązań.</p>
        <p>@Html.ActionLink("Przejdź", "Index", "Question", null, new { @class = "btn btn-success" })</p>
    </div>
    <div class="col-md-4">
        <h2>O mnie</h2>
        <p>Parę słów o mnie, o stronie i wykorzystanych w celu jest utworzenia narzędzi oraz formularz do kontaktu.</p>
        <p>@Html.ActionLink("Przejdź", "About", "Me", null, new { @class = "btn btn-success" })</p>
    </div>
</div>
