@model KrisApp.Models.Me.WebsiteDescModel

@{
    ViewBag.Title = "O stronie";
}

<h2>@ViewBag.Title</h2>
<hr />
<p>
    <b>Technologie wykorzystane w celu utworzenia strony:</b>
    <ul>
        @foreach (string item in Model.UsedTechnologies)
        {
            <li>@item</li>
        }
    </ul>
</p>