@model KrisApp.Models.Articles.ArticleListModel
@{
    ViewBag.Title = ViewBag.Type;
}

<h2>@Model.ArticleType</h2>
<hr />

@if (Model.Articles?.Count > 0)
{
    Html.RenderPartial("_ArticleList", Model.Articles);
}