
@{
    ViewBag.Title = "Pytania techniczne";
}

<h2>@ViewBag.Title</h2>

<hr />
<p>Sekcja dostępna po zalogowaniu.</p>
<p>@Html.ActionLink("Zaloguj się", actionName: "Login", controllerName: "User")</p>