@model KrisApp.Models.Questions.QuestionListModel

@{
    ViewBag.Title = "Pytania techniczne";
}

<h2>@ViewBag.Title</h2>
<hr />

<div>
    <p>
        @Html.ActionLink("Dodaj pytanie", "AddQuestion")
    </p>
    @{ Html.RenderPartial("_QuestionList", Model.Questions); }
</div>
